html, body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;
}

.container{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    width: 90vw;
    height: 100vh;
    background: #f9f9f9;
    padding: 10px 0 0 69px;
    
}

.cl{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    flex: 1 1 23vw;
}

img{
    width: 100%;
}

.first-top {
    height: 35vh; 
}
.first-end{
    height: 60vh;
}

.second-top{
    height: 65vh;
}
.second-end{
    height: 29vh;
}
.third-top{
    height:31vh;
}
.third-end{
    height: 61vh;
}

.furth-top{
    height: 61vh;
}

.furth-end{
    height: 27vh;
}