body, html{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
   justify-content: center;
   background-image: linear-gradient(#9022c3, #ec0bba,#1be5cb );
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px;
    width: 300px; 
    border-radius: 20px;
    background-color: white;
    visibility: hidden;
    box-shadow: 1px 1px 4px 1px rgb(122, 120, 120);
}
.title{
    font-size: 32px;
    height: 85px;
    width: 100%;
    background-color: forestgreen;
    color: white;
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; 
    text-align: center;
    padding-top: 32px;
}

.info{
    display: flex;
    align-items:center;
    justify-content:start;
    flex-direction: column;
    transition: 5s;
    width: 90%;
    margin-left: 15px;
    height: 120px;
    margin-top: 30px;
    font-size: 18px;

}

